.msg{
    width: fit-content;
    max-width: 50%;
    overflow-wrap:break-word;
}
.chatBox{
    display: flex;
    flex-direction: column;
    height:90vh;
}
.stickBottom{
    position: sticky;
    bottom: 0;
}
.stickTop{
    position: sticky;
    top: 0;
}
.messagesContainer{
    display: flex;
    flex-direction: column;
    overflow-y: scroll

}
.msgBySelfUser
{
    align-self:flex-end;
    background-color: slateblue;
}